@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme{
     --color-primary: #F84565;
     --color-secondary: #D63854;
}

*{
    font-family: "Roboto", sans-serif;
    scrollbar-width: thin;
    scrollbar-color: #787777 #1e1e1e;
}

body {
    color: white;
    background-color: #090909;
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}

.no-scrollbar{
    scrollbar-width: none;
}